.main {
    display: flex;
}

.col-1 {
    background-color: rgb(83, 206, 169);
    width: 300px;
    height: auto;
}

.upper-heading {
    background-color: rgb(83, 206, 169);
    display: flex;
    justify-content: space-between;
}

.contact-div {
    margin-right: 40px;
    margin-top: 20px
}

.name-div {
    margin-left: 40px;
}

.col-2 {
    padding: 4rem;
    width: 3208px;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
    padding-top: 2rem;
}

.profile-img {
    border-radius: 50%;
    text-align: center;
    margin: 2rem;
    padding-top: 5rem;
    width: 25rem;
    height: 20rem;
    background-color: white;
}

.heading-2 {
    font-size: 1.8rem;
    font-weight: bolder;
    color: white
}

.profile-text {
    font-size: 1.5rem;
    color: white;
}

.icons {
    color: white;
    font-size: 1.8rem
}

.name-heading {
    font-size: 6rem;
    color: white;
    margin-bottom: 0px;
}

.profession-heading {
    font-size: 2rem;
    color: white;
    margin-top: 0px;
    font-weight: lighter;
}

.resume-headings {
    display: flex;
}

.resume-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.resume-heading-text {
    font-size: 2.6rem;
    margin-left: 1rem;
}

.resume-text {
    font-size: 1.8rem;
    margin: 0px
}

.duration {
    color: grey;
    font-size: 1.5rem;
    margin: 0px;
}

.resume-text-steper {
    font-size: 1.8rem;
    margin: 0px;
}

.break {
    height: 0px;
}

.stepper-container .ant-steps-item:last-child .ant-steps-item-icon {
    display: none;
}

.steps {
    margin-left: 4rem;
    padding-right: 8rem;
}

.ant-steps.ant-steps-vertical.ant-steps-dot .ant-steps-item>.ant-steps-item-container>.ant-steps-item-tail::after {
    background-color: grey;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot {
    background-color: grey;
}

.education {
    margin-top: -3rem;
}