@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Dancing+Script:wght@400;600;700&display=swap');

.heading {
    text-align: center;
    font-size: 6rem;
    font-family: 'Dancing Script', cursive;
}

.info-main {
    display: flex;
    gap: 50px;
}

.form-col {
    width: 100%;
}

.resume-preview {
    width: 100%;
}

.resume {
    width: 200px;
}

.form {
    padding: 0px 50px;
    margin: 0px 200px;
}

.add-btn {
    border-radius: .8rem !important;
    text-align: center;
    background-color: rgb(180, 179, 179);
    color: white !important;
    font-size: 2.5rem !important;
    padding: 0rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.ant-space {
    display: block !important;
    border: 2px solid #d9d9d9;
    ;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
}

.skill-space .ant-space {
    display: inline !important;
}